/*para datos requeridos del formulario*/
.requerido{
    color: red;
}
/*GLOBAL*/
:root{
  --color-primary: #1e6496;
  --color-secondary:rgb(54, 147, 36);
  --color-text: rgba(0, 0, 0, 0.67);
  --color-complement: rgba(204, 204, 204, 0.33);
}
html{
  height: 100%;

}
/*p,h1,h2,h4,h5,div,span,td,body{
  
}*/
p,li,label,.alert,#precios_tabla tr>td:nth-child(1){
      font-size: 16px;
      text-align: justify;
}
body{
      
    width: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Pontano Sans', sans-serif;
}
/*CSS SNIPPETS */
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    /*line-height: 70px !important;*/
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
    line-height: 70px;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid var(--color-secondary);
    
}
.wizard li.active span.round-tab i{
    color: var(--color-secondary);
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: var(--color-secondary);
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: var(--color-secondary);
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
/*-----------*/
.container-book-now{
		background: #fff;
}
	.line-header{
  display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px solid var(--color-complement);
    padding: 0;

}

.line-header >*{
          font-size: 20px;
    margin: 0 0 -1px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid var(--color-primary);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-text);
}
/*DIV TOURS*/
.div-tours .div-reserva-header{
	background: var(--color-primary);
	text-align: center;
	color: #f5f5f5;
	line-height: 30px;
	font-weight: 700;
}
.div-tours .div-content-list-tours{
	padding: 0;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #ccc;
}
.div-tours .div-list-tours{
	    border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
padding: 0;
    /*height: 40px;*/
}
.div-tours .div-list-tours .list-tours-name{
/*line-height: 30px;	*/
}
.div-tours .div-list-tours>*{
	padding: 3px 10px;
	line-height: 30px;
}
.div-tours .div-list-tours .list-tours-date .input-group-addon{
	padding: 5px;
} 
.div-tours .div-list-tours .list-tours-date .input-group input{
	width: 100%;
	line-height: 25px;
}
/*--------*/
.selecionado{
    background-color: red;
}
/*DIV TICKETS*/
.div-tickets .div-reserva-header{
	background: var(--color-primary);
	text-align: center;
	color: #f5f5f5;
	line-height: 30px;
	font-weight: 700;
}
.div-tickets .div-reserva-header>*:nth-last-child(1){
padding: 0;
}
.div-tickets .div-content-list-tours{
	padding: 0;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #ccc;
}
.div-tickets .div-list-tours{
	    border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
padding: 0;
    /*height: 40px;*/
}
.div-tickets .div-list-tours .list-tours-name{
/*line-height: 30px;	*/
}
.div-tickets .div-list-tours>*{
	padding: 3px 10px;
	line-height: 30px;
}
.div-tickets .div-list-tours .list-tours-date .input-group-addon{
	padding: 5px;
} 
.div-tickets .div-list-tours .list-tours-date .input-group input{
	width: 100%;
	line-height: 25px;
}
/*toggle list tours*/
.togle-list-tours{
	padding: 0 !important;
	border-left: solid;
	border-right: solid;
	border-top: solid;
	
}
.togle-list-tours>*{
	border-bottom: solid;
	padding: 0.5%;
}
.togle-list-tours,.togle-list-tours>*{
	border-width: 1px;
	border-color: #eee;
}
/*------------*/
.rating-xs{
  font-size: 15px;
  float: left;
}
.rating-container .filled-stars{
  color: #fec701;
  -webkit-text-stroke: 1px #d8ab09;
  text-shadow: 1px 1px #d8ab09; 
}
/*inicio*/

.div-details{
  padding-left: 0;
}
.div-details .btn-default {
    background: rgba(226, 226, 226, 0.35);
    color: #6f6d6d;
    border-color: #dcdcdc;
}
.rating-container{
  display: grid;
}
.div-precios{
  
    display: table-cell;
    height: 100%;
     background: #187eba; 
    
}
.div-precios .div-align-flex{
     display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
 
  width: 100%;
  height: 100%;
}
.div-precios .div-content-align-flex{
  display: flex;
  flex-flow: column;
 
  justify-content: center;
  text-align: center;
}
.div-precios  .btn-default {
    background: rgba(186, 152, 152, 0);
    color: #fff;
}
.div-precios .precio{
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
.div-precios .cantidad, .div-precios .desde{
  font-size: 18px;
  color: #ccc;
}    
/**/
.div-img-lugar{
  padding: 0;
}
.div-img-lugar img{

width: 100%;
position: relative;
}
/*.div-img-lugar .div-lugar{
  position: absolute;
  top: 30%;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.div-img-lugar .div-lugar>span{
padding: 10px;
    background: rgba(92, 184, 92, 0.86);
    font-size: 40px;
}
.div-img-lugar .div-lugar>p{
padding: 10px;
    
}*/
.quantity-service{
  padding: 5px;
  background: rgba(24, 128, 190, 0.65);
}
.div-txt-servicio>div{
  background: var(--color-primary);
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}
.div-txt-filtrar{
 /*padding-bottom: 5px;*/
}
.div-txt-filtrar>div{
  background: var(--color-complement);
  padding: 5px;
  font-weight: bold;
}
@media (max-width: 768px){
.div-options-products .panel-option.col-xs-12 .panel-heading{
  background: var(--color-primary);
    color: #f5f5f5;
}
.div-options-products .panel-option.col-xs-12 .panel-body{
  padding: 0;
}
}

    
    

.div-img-lugar #custom-search-input{
      position: absolute;
    top: 75%;
    z-index: 1;
}
.div-img-lugar .div-color{
  position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.13);
}
/*DIV LIST PORDUCTS*/
@media (max-width: 768px){
  .div-list-product{
    padding: 0;
  }
  .div-list-product .div-precios{
  height: auto;
  width: 100%;
  background: none;
  }
  .div-list-product .card-content h3{
    font-size: 16px;

  }
  
  
  /*.div-square .card-image,.div-square .card-content,.div-square .div-details{
    width: 100%;
  }*/


  .div-list-product .card-title-product a{
    /*color: #fff;*/

  }
  .div-list-product .div-precios  .btn-default{
  background: var(--color-primary);
  color: #f5f5f5;
  }

  .div-list-product .div-content-align-flex .precio{
    color: #1880be;
  }
  .div-list-product .div-precios .div-content-align-flex, .div-list-product .div-content-align-flex .cantidad {
  display: inline;
  }

}


.card-price {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.68);
    
}
.precio-antes{
line-height: 25px;
text-decoration:line-through;
}
.precio-ahora{
  background: rgba(211, 40, 35, 0.86);
    color: #fff;
    padding: 8px;
}
#products-div{
  padding: 0;
}
#products-div .container{
  height: 100%;
        /*margin-top: 20px;*/
            display: grid;
}
.card {
  
  /*width: 100%;*/
}

.card {
  /*margin-top: 0.9em;*/
  box-sizing: border-box;
  border-radius: 0.2em;
  background-clip: padding-box;
  /*padding: 10px;*/
  
  /*padding: 0;*/
  /*background: #fff;*/
  margin-bottom: 20px;
}
.card-div-inside{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
  display: table;
  background: #fff;
  padding: 0;
  width: 100%;
}

.card-title-product a{
      color: #337ab7;
}
.dropdown-menu {
    right: 0 !important;
    left: auto;
}

.card .card-image {
  position: relative;
  /*padding: 1%;*/
  padding: 0;
  /*overflow: hidden;*/
}
.card .card-image img {
  border-radius: 0.2em 0.2em 0 0;
  background-clip: padding-box;
  position: relative;
  /*z-index: -1;*/
      /*min-height: 150px;*/
}
.card .card-image .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.3em;
}
.div-list-product .card-content{
height: 100%;
}
.div-square .card-content{
height: auto;
}
.card-content{
  /*height: 100%;*/
  display: table-cell;
  padding: 2%;
}
.card-content h3{
  margin-top: 0;
  margin-bottom: 0;
}
.card .card-action {
  border-top: 0.1em solid rgba(160, 160, 160, 0.2);
  padding: 0.9em;
}
.card .card-action a {
  
  /*color: #105984;*/
  margin-right: 0.1em;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}
.card .card-action a:hover {
  /*color: #438cb7;*/
  text-decoration: none;
  font-weight: bold;
} 
/*DIVS MODO LIST*/


/*divs modo square*/
.div-square .card-image,.div-square .card-content,.div-square .div-details{
  width: 100%;
}
.div-square .div-description,.div-square .div-go,.div-square .div-duration,.div-square .div-category, .div-square .div-precios .cantidad,.div-square .div-precios .btn-more-details{
  display: none;
}
.div-square .card-content{
  padding: 10px;
}
.div-square .card-title-product a{
  /*color: #fff;*/

}
.div-square .card-content h3{
  font-size: 16px;
}
.div-square .div-precios{
  height: auto;
  width: 100%;
  background: none;
}
.div-square .div-content-align-flex .precio{
  color: #1880be;
}
.div-square .div-precios .div-content-align-flex {
display: inline;
}
/*CATEGORRY LIST*/
#category_selected .badge,#duration_selected .badge{
  background: var(--color-danger);
  color: #f5f5f5;
}
.boton-filtro-1:hover .badge,.boton-filtro-2:hover .badge{
  background: var(--color-primary);
  color: #f5f5f5;
}
/*LOADER BLOCK*/
.loader {
position: absolute;
top: 50%;
left: 50%;
margin: -120px 0 0 -120px;
  /*border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;*/
  opacity: 1;
  color: #fff;
}

/*@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

#div-loader{
background: #444;
opacity: 0.5;
position: fixed;
width: 100%;
height: 100%;
top: 0;
z-index: 100;
display: none;
}

/*------------*/