/*GLOBAL*/
:root{
  --color-primary: #1e6496;
  --color-secondary:rgb(54, 147, 36);
  --color-text: rgba(0, 0, 0, 0.67);
  --color-complement: rgba(204, 204, 204, 0.33);
}
html{
  height: 100%;

}
/*p,h1,h2,h4,h5,div,span,td,body{
  
}*/
p,li,label,.alert,#precios_tabla tr>td:nth-child(1){
      font-size: 16px;
      text-align: justify;
}
body{
      
    width: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Pontano Sans', sans-serif;
}
/*CSS SNIPPETS */
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    /*line-height: 70px !important;*/
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
    line-height: 70px;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid var(--color-secondary);
    
}
.wizard li.active span.round-tab i{
    color: var(--color-secondary);
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: var(--color-secondary);
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: var(--color-secondary);
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
/*-----------*/
.container-book-now{
		background: #fff;
}
	.line-header{
  display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px solid var(--color-complement);
    padding: 0;

}

.line-header >*{
          font-size: 20px;
    margin: 0 0 -1px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid var(--color-primary);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-text);
}
/*DIV TOURS*/
.div-tours .div-reserva-header{
	background: var(--color-primary);
	text-align: center;
	color: #f5f5f5;
	line-height: 30px;
	font-weight: 700;
}
.div-tours .div-content-list-tours{
	padding: 0;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #ccc;
}
.div-tours .div-list-tours{
	    border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
padding: 0;
    /*height: 40px;*/
}
.div-tours .div-list-tours .list-tours-name{
/*line-height: 30px;	*/
}
.div-tours .div-list-tours>*{
	padding: 3px 10px;
	line-height: 30px;
}
.div-tours .div-list-tours .list-tours-date .input-group-addon{
	padding: 5px;
} 
.div-tours .div-list-tours .list-tours-date .input-group input{
	width: 100%;
	line-height: 25px;
}
/*--------*/
.selecionado{
    background-color: red;
}
/*DIV TICKETS*/
.div-tickets .div-reserva-header{
	background: var(--color-primary);
	text-align: center;
	color: #f5f5f5;
	line-height: 30px;
	font-weight: 700;
}
.div-tickets .div-reserva-header>*:nth-last-child(1){
padding: 0;
}
.div-tickets .div-content-list-tours{
	padding: 0;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #ccc;
}
.div-tickets .div-list-tours{
	    border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
padding: 0;
    /*height: 40px;*/
}
.div-tickets .div-list-tours .list-tours-name{
/*line-height: 30px;	*/
}
.div-tickets .div-list-tours>*{
	padding: 3px 10px;
	line-height: 30px;
}
.div-tickets .div-list-tours .list-tours-date .input-group-addon{
	padding: 5px;
} 
.div-tickets .div-list-tours .list-tours-date .input-group input{
	width: 100%;
	line-height: 25px;
}