/*para datos requeridos del formulario*/
.requerido{
    color: red;
}
/*GLOBAL*/
:root{
  --color-primary: #1e6496;
  --color-secondary:rgb(54, 147, 36);
  --color-text: rgba(0, 0, 0, 0.67);
  --color-complement: rgba(204, 204, 204, 0.33);
}
html{
  height: 100%;

}
html *{
    font-family: Pontano Sans;
}
@media (max-width: 768px){
    #form-reservas .title-service-tours{
    background: var(--color-primary);
    margin: 0;
    padding: 2%;
    color: #f5f5f5;
}
#form-reservas .title-service-buses{
    background: var(--color-primary);
    margin: 0;
    padding: 2%;
    color: #f5f5f5;
}
}

    
/*p,h1,h2,h4,h5,div,span,td,body{
  
}*/
p,li,label,.alert,#precios_tabla tr>td:nth-child(1){
      font-size: 16px;
      text-align: justify;
}
body{
      
    width: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Pontano Sans', sans-serif;
}
.title-reservas{
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
}
/*CSS SNIPPETS */
.wizard {
    /*margin: 20px auto;*/
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        /*margin: 40px auto;*/
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 71%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.wizard span.round-tab {
    width: 40px;
    height: 40px;
    /*line-height: 70px !important;*/
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
.wizard span.round-tab i{
    /*color:#555555;*/
    line-height: 35px;
    font-size: 15px;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid var(--color-secondary);
    
}
.wizard li.active span.round-tab i{
    color: var(--color-secondary);
}
.tab-complete .round-tab{
    background: var(--color-secondary) !important;
}
.tab-complete .round-tab>*{
    color: #f5f5f5 !important;
}

.wizard span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: var(--color-secondary);
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: var(--color-secondary);
}

.wizard .nav-tabs > li a {
    width: 40px;
    height: 40px;
    /*margin: 20px auto;*/
    margin: 5px auto;
    border-radius: 100%;
    padding: 0;
    margin: 15px auto;f
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    /*padding-top: 50px;*/
    padding-top: 10px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        /*width: 90%;*/
        height: auto !important;
    }

    .wizard span.round-tab {
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .wizard .nav-tabs > li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .wizard span.round-tab i{
        line-height: 30px;
        font-size: 15px;
        top: 0;
    }
}
/*-----------*/
.container-book-now{
        background: #fff;
}
    .line-header{
  display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px solid var(--color-complement);
    padding: 0;

}

.line-header >*{
          font-size: 20px;
    margin: 0 0 -1px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid var(--color-primary);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-text);
}
/*DIV TOURS*/
.div-tours .div-reserva-header{
    background: var(--color-primary);
    text-align: center;
    color: #f5f5f5;
    line-height: 30px;
    font-weight: 700;
}
.div-tours .div-content-list-tours{
    padding: 0;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #ccc;
}
.div-tours .div-content-list-tours>*:nth-child(even){
    background: #f5f5f5 !important;

}
.div-tours .div-list-tours{
        border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
padding: 0;
    /*height: 40px;*/
}
.div-tours .div-list-tours .list-tours-name{
/*line-height: 30px;    */
}
.div-tours .div-list-tours>*{
    padding: 3px 10px;
    line-height: 30px;
}
.div-tours .div-list-tours .list-tours-date .input-group-addon{
    /*padding: 5px;*/
    padding: 7px;
} 
.div-tours .div-list-tours .list-tours-date .input-group input{
    /*width: 100%;*/
    line-height: 25px;
}
/*----MODAL----*/
.selecionado{
    /*background-color: var(--color-primary);*/
}
.selecionado:hover a{
    color: #fff !important;
}
.selecionado .title-category-search,.selecionado .count-category-search, #toursModal .title-result-category-tours{
    background: var(--color-secondary) !important;
}
#toursModal .title-result-category-tours{
    color: #f5f5f5;
}
/*.selecionado>a:hover{
    cursor: none !important;
}
.selecionado>a>*:first-child{
    color: #f5f5f5 !important;
}*/
#destinosCards>*>a:hover{
    cursor: pointer !important;
}
#toursModal .modal-title {
    text-transform: uppercase;
    font-weight: 700;
}
#toursModal .panel-heading a{
    color : #f5f5f5 !important;
}
#toursModal #search_box_tours{
    /*height: 30px;*/
}
#toursModal .title-category-search{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #337ab7;
    color: #f5f5f5;
}
#toursModal .img-category-search{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#toursModal .list-category-search{
    width: 100%;
    padding: 2%;
}
#toursModal .div-category-search{
    cursor: pointer;
}
/*------SEARCH-----------*/
#toursModal .div-title-search{
    background-color: var(--color-primary);
    color: #f5f5f5;
}
/*DIV BUSES TICKETS*/
.input-group-addon, .input-group-btn{
    width: auto !important;
}
.div-tickets .div-reserva-header{
    background: var(--color-primary);
    text-align: center;
    color: #f5f5f5;
    line-height: 30px;
    font-weight: 700;
}
.div-tickets .div-reserva-header>*:nth-last-child(1){
padding: 0;
}
.div-tickets .div-content-list-buses{
    padding: 0;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #ccc;
}
.div-tickets .div-list-buses{
        border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
padding: 0;
    /*height: 40px;*/
}
.div-tickets .div-content-list-buses>*:nth-child(even){
    background: #f5f5f5 !important;
}

.div-tickets .div-list-buses .list-tours-buses{
/*line-height: 30px;    */
}
@media (max-width: 768px){
    .div-tickets .div-list-buses .list-tours-where{
    float: left !important;
    }
    .div-tickets, .div-tours{
    padding: 0;     
    }
    .div-tickets .div-content-list-buses .div-list-buses,.div-tours .div-content-list-tours .div-list-tours{
    border-top: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 0;
    }
}

.div-tickets .div-list-buses>*{
    padding: 3px 10px;
    line-height: 30px;
}
.div-tickets .div-list-buses .list-buses-date .input-group-addon{
    padding: 7px;
} 
.div-tickets .div-list-buses .list-buses-date .input-group input{
    /*width: 100%;*/
    line-height: 25px;
}
/*toggle list tours*/
.togle-list-tours{
    padding: 0 !important;
    border-left: solid;
    border-right: solid;
    border-top: solid;
    
}
.togle-list-tours>*{
    border-bottom: solid;
    padding: 0.5%;
}
.togle-list-tours,.togle-list-tours>*{
    border-width: 1px;
    border-color: #eee;
}
.togle-list-tours>*:nth-child(even){
    background: #f5f5f5;

}
.togle-list-tours>div:hover{
    background: #ddd;
}

/*CATEGORRY LIST*/
#category_selected .badge,#duration_selected .badge{
  background: var(--color-danger);
  color: #f5f5f5;
}
.boton-filtro-1:hover .badge,.boton-filtro-2:hover .badge{
  background: var(--color-primary);
  color: #f5f5f5;
}
/*LOADER BLOCK*/
.sub-loader {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 87;
    opacity: 1;
    color: #fff;
    top: 50%;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(4, 146, 251, 0.11);
  border-right: 1.1em solid rgba(4, 146, 251, 0.11);
  border-bottom: 1.1em solid rgba(4, 146, 251, 0.11);
/*    border-top: 1.1em solid rgba(4, 146, 251, 0);
  border-right: 1.1em solid rgba(4, 146, 251, 0);
  border-bottom: 1.1em solid rgba(4, 146, 251, 0);*/
  border-left: 1.1em solid #2ea3ff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#div-loader{
background: rgba(68, 68, 68, 0.71);
/*opacity: 0.5;*/
position: absolute;
width: 100%;
height: 100%;
top: 0;
z-index: 100;
display: none;
}

/*-------------------------------------*/

.center-div {
    display: table;
    width: 100%;
    /*height: 100%; */
    /*border: 1px dotted blue;*/
}
@media (max-width: 768px){
    .center-div{
        display: block;
    }
}
.center-div>*:first-child{
    width: 100%;
}
.v-align {
    /*width: 10%;*/
    float: none !important;
    /*padding: 10px;*/
    /*border: 1px dashed gray;*/
    /*comentairo*/
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.box {
    /*width: 100% !important;*/
    padding: 3%;
    height: 100%;
    background-color: var(--color-primary);
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    color: #f5f5f5;
    float: right;
}
.box:hover{
    background: #054d97 !important;
}
/*--------------BOOTSCARD MODAL---------------*/
.bootcards-summary .panel-body .bootcards-summary-item {
    background: #f5f5f5;
    display: block;
    border-radius: 4px;
    padding: 25px 10px;
    text-align: center;
    position: relative;
    height: 130px;
}
.bootcards-summary .panel-body .bootcards-summary-item:hover {
    text-decoration: none;
    background: #eee;
}
.bootcards-summary .panel-body .bootcards-summary-item {
    background: #f5f5f5;
    display: block;
    border-radius: 4px;
    padding: 25px 10px;
    text-align: center;
    position: relative;
    height: 130px;
}
.bootcards-summary .panel-body .bootcards-summary-item>i {
    color: #bbb;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.bootcards-summary .panel-body>.row>div {
    padding: 8px;
}
.bootcards-summary .panel-body .bootcards-summary-item .badge, .bootcards-summary .panel-body .bootcards-summary-item .label {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media (max-width: 400px){
    .bootcards-summary .panel-body .bootcards-summary-item {
        padding: 15px 5px;
    }
}
.bootcards-summary-item *, #toursModal .page-header *{
    line-height: normal !important;
    /*font-weight: normal !important;*/
    font-weight: 600 !important;
    text-transform: uppercase !important;
    margin: auto;
}
.bootcards-summary-item h4 *, .bootcards-summary-item h4,#toursModal .page-header * {
    font-size: medium !important;
}
 /*.toursModal .page-header*/